<div style="color: #3D5A80">
<div class="jumbotron text-center">
  <h2>FREQUENTLY ASKED QUESTIONS</h2>
  <p>Clear your queries !!!</p>
</div>
  <h3>TOP QUERIES</h3>
  <div class="accordion" id="accordionExample1">
    <div class="card">
      <div class="card-header" id="heading11">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11" style="color: #3D5A80">
            What time of the year is your placement program? </button>
        </h2>
      </div>
      <div id="collapse11" class="collapse show" aria-labelledby="heading11" data-parent="#accordionExample1">
        <div class="card-body">
          The graduate placement program typically runs from November to March.
          The summer internship placements are in November-December, Lateral/Experienced hiring in February and Full-time placement
          in January and March. For specific dates in the current year please write to your relationship manager.
          If you are a first time recruiter, please register to our website to know more.
          You will be assigned a relationship manager who will be your one-point contact .         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading12">
        <h2 class="mb-0">
          <button style="color: #3D5A80" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
            Where can I get a placement guide?           </button>
        </h2>
      </div>
      <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample1">
        <div class="card-body">
          The placement guide and student profile book for the year is typically available for dispatch/download in October. For a printed copy of the placement brochure and profile book please e-mail your relationship manager or write to the Placement Website email.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading13">
        <h2 class="mb-0">
          <button style="color: #3D5A80" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
            What information is essential to provide in a PPT/Corporate Presentation/Brochure?           </button>
        </h2>
      </div>
      <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordionExample1">
        <div class="card-body">
          The information that students typically look for in corporate presentations is: Profile of the company Profile of the career role (projects in case of summer internships) and responsibilities Locations where the student is likely to be posted Compensation / Stipend        </div>
      </div>
    </div>
  </div>
<br>
  <br>
  <h3>INFORMATION QUERIES</h3>
  <div class="accordion" id="accordionExample2">
    <div class="card">
      <div class="card-header" id="heading21">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse21" aria-expanded="true" aria-controls="collapse21" style="color: #3D5A80">
            What are the various ways of recruiting students? </button>
        </h2>
      </div>
      <div id="collapse21" class="collapse show" aria-labelledby="heading21" data-parent="#accordionExample2">
        <div class="card-body">
          Students can be recruited for: A two-month full-time summer internship Experienced/Lateral positions Entry-level full-time roles.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading22">
        <h2 class="mb-0">
          <button style="color: #3D5A80" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
            What are the typical steps in the placement process?     </button>
        </h2>
      </div>
      <div id="collapse22" class="collapse" aria-labelledby="heading22" data-parent="#accordionExample2">
        <div class="card-body">
          The typical steps in the placement process would be Communication of interest in the placement program to your relationship manager Finalizing a placement slot Submission of CVs/Applications by students Shortlisting of students Pre-processes (tests/group discussions) Interviews Selection list         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading23">
        <h2 class="mb-0">
          <button  style="color: #3D5A80" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
            Whether my tests are online based or paper based?
          </button>
        </h2>
      </div>
      <div id="collapse23" class="collapse" aria-labelledby="heading23" data-parent="#accordionExample2">
        <div class="card-body">
          PlacementSeason provides only online tests which can be taken through the link given by us.We are not providing any hard copies related to Placement Preparation.
      </div>
    </div>
  </div>
</div>
</div>
