<div style=" color: #3D5A80">
  <div>
    <h1> <a href="https://www.cerner.com/about" style="color: #3D5A80"> {{company}} Corporation</a>
    </h1>
    <p>{{company}} Corporation is an American supplier of health information technology services, devices, and hardware.
      As of February 2018, its products were in use at more than 27,000 facilities around the world.
      The company had more than 28,000 employees globally, with over 13,000 in Kansas City, Missouri.</p>
  </div>
<br>
  <h3>Locations:</h3><span>Bangalore, Mumbai</span>
  <br><br>
  <h3>Recruitment process</h3>
  <ul>
    <li> Online test on Aptitude and Verbal</li>
    <li>
      Coding Round
    </li>
    <li> Technical Interview Round</li>
    <li> Managerial Round
    </li>
    <li> HR Round</li>
  </ul>
  <br><br>
  <h3>Jobs offered</h3>
  <br>
  <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-light table-hover medium no-footer"
         datatable>
    <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Role</th>
      <th scope="col">CTC</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Software Engineer</td>
      <td>6-7 LPA</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>App Developer</td>
      <td>6-7 LPA</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Business Management</td>
      <td>10 LPA</td>
    </tr>
    </tbody>
  </table>
</div>
