<div style="background-color: #E0FBFC;color: #3D5A80">
  <div class="row">
    <div class="col-2 font-weight-bold" style="margin-left: 10%;margin-top: 3%; color: #3D5A80;cursor: pointer" (click)="index()">Place.io</div>
    <div class="col-md-2" style="margin-left: 43%; margin-top: 3%">
      <button class="btn btn-block" (click)="login()"
              style="border-radius: 12px;background-color: #EE6C4D; color: #E0FBFC; width: 150px">Login
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 font-weight-bold" style="padding-top: 15%; padding-left: 10%;color: #3D5A80">
      <h2>All your placement facility under one roof, register now at Place.io to get most of it</h2>
    </div>
    <div class="col-sm-3">
      <fieldset style="padding-top: 15%">
        <h2 class="animation a1" style=" text-align: center;">Register</h2>
        <br>
        <div class="form-group animation a3">
          <input type="text" class="form-control input-lg" [(ngModel)]="user.name" placeholder="Username" required>
        </div>
        <div class="form-group animation a4">
          <input type="email" class="form-control input-lg" [(ngModel)]="user.email" placeholder="Email address" required>
        </div>
        <div class="form-group animation a4">
          <input type="password" class="form-control input-lg" [(ngModel)]="user.password" placeholder="Password" required>
        </div>
        <div class="form-group animation a4">
          <input type="number" class="form-control input-lg" [(ngModel)]="user.mobile" min="0" minlength="10" maxlength="10"
                 placeholder="Mobile number" required>
        </div>
        <div class="form-group animation a4">
          <select class="form-control" required [(ngModel)]="user.role">
            <option disabled>Select role</option>
            <option value="student">Student</option>
            <option value="company">Company</option>
            <option value="college">College</option>
          </select>
        </div>
        <div class="form-group animation a3" *ngIf="user.role!=='company'">
          <input type="text" class="form-control input-lg" [(ngModel)]="user.college" placeholder="College name" required>
        </div>
        <div class="form-group animation a4" *ngIf="user.role === 'student'">
          <select class="form-control" required [(ngModel)]="user.year">
            <option disabled>Pass-out year</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
        </div>
        <div class="col-sm-6" style="margin: 5px 0 5px 26%;">
          <button class="btn btn-block" (click)="register(user)" style="border-radius: 12px;background-color: #EE6C4D; color: #E0FBFC; width: 150px">Register
          </button>
        </div>
      </fieldset>
    </div>
    <div class="col-md-4" style="padding-top: 15%">
      <img src="../../../assets/images/undraw_annotation_7das.svg" width="400px" height="400px">
    </div>
  </div>
</div>
