<div style="background-color: #E0FBFC">
  <div class="row">
    <div class="col-2 font-weight-bold" style="margin-left: 10%;margin-top: 3%; color: #3D5A80;cursor: pointer" (click)="index()">Place.io</div>
    <div class="col-md-2" style="margin-left: 43%; margin-top: 3%">
      <button class="btn btn-block"
              style="border-radius: 12px;background-color: #EE6C4D; color: #E0FBFC; width: 150px" (click)="login()">Login
      </button>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-11" style="text-align: center; color: #3D5A80">
      <h2 class="animation a1">All your Placement facility under one roof</h2>
      <br>
      <p>Recruiting is one of the most important and tedious phase for students and companies<br>No wonder why students are confused
      to choose the right job for their skillset<br>Companies also face the same issue when coming to find the RIGHT fir for the job<br>
        We aim to solve these issues all under one roof.</p>
      <div class="col-sm-2" style="margin-left: 40%;">
        <button class="btn btn-block"
                style="border-radius: 12px;background-color: #EE6C4D; color: #E0FBFC; width: 150px" (click)="register()">Get Started
        </button>
      </div>
      <div style="margin-left: 5%; margin-top: 0%">
        <img src="../../../assets/images/undraw_task_list_6x9d.svg" width="400px" height="200px">
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-11" style="text-align: center; color: #3D5A80">
      <br>
      <br>
      <h2 class="animation a1">Are you a student, College or a Company?</h2>
      <p>Well, we got all of you covered</p>
      <br>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="margin-top: 2%;">
          <p>Students can register and start applying for jobs, grt notified by us and companies, attend interviews, get placed.</p>
          <div>
            <button class="btn btn-block"
                    style="border-radius: 12px;background-color: #EE6C4D; width: 150px;color: #E0FBFC" (click)="register()">Register as student
            </button>
          </div>
        </div>
        <div class="col-sm-2">
          <img src="../../../assets/images/undraw_Portfolio_update_re_jqnp.svg" width="500px" height="200px">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <p>Companies can register and update their job openings with job description, update candidates requirements,
            search for colleges for mass recruitment drives, shortlist the applied candidates, schedule interviews, send
            notifications to applicants, track the events and much more
          </p>
          <button class="btn btn-block"
                  style="border-radius: 12px;background-color: #EE6C4D; width: 150px;color: #E0FBFC" (click)="register()">Register as company
          </button>
          </div>
        <div class="col-sm-2">
          <img src="../../../assets/images/undraw_Updated_re_u4yh.svg" width="500px" height="200px">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="margin-top: 2%">
          <p>Colleges can register and get mass recruiting drives, shortlist companies ti invite for placement drives,
          send notifications, get jon requirements, prepare students for interviews, conduct mocks and much more.</p>
          <div>
            <button class="btn btn-block"
                    style="border-radius: 12px;background-color: #EE6C4D; width: 150px;color: #E0FBFC" (click)="register()">Register as college
            </button>
          </div>
        </div>
        <div class="col-sm-2">
          <img src="../../../assets/images/undraw_Domain_names_re_0uun.svg" width="500px" height="200px">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<footer style="height: 20%;background-color: #3D5A80; color: #E0FBFC">
  <div class="footer-copyright text-center py-3">© 2020 Place.io</div>
  <div class="text-center py-3">Email: <a style="color: #E0FBFC" href="mailto:placeio@icloud.com?subject=HTML link">placeio@icloud.com</a>
  </div>
  <div class="text-center py-3">Contact number: <a style="color: #E0FBFC" href="tel:5554280940">5554280940</a></div>
</footer>
