<div style="color: #3D5A80">
  <div class="row">
    <ul class="nav nav-tabs col-md-9">
      <li class="nav-item">
        <h5><a style="color: #3D5A80" class="nav-link active">Students</a></h5>
      </li>
    </ul>
    <div>
    </div>
  </div>
<table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-light table-hover medium no-footer"
       datatable>
  <thead style="color: #3D5A80">
  <tr style="color: #3D5A80">
    <th class="text-center" style="width: 10px;">SNo</th>
    <th class="text-center">Name</th>
    <th class="text-center">Email</th>
  </tr>
  </thead>
  <tbody style="color: #3D5A80">
  <tr>
    <td class="text-center" style="width: 10px;">1</td>
    <td class="text-center">Aditi</td>
    <td class="text-center">aditi@icloud.com</td>
  </tr>
  <tr>
    <td class="text-center" style="width: 10px;">2</td>
    <td class="text-center">Dharini</td>
    <td class="text-center">dharini@icloud.com</td>
  </tr>
  <tr>
    <td class="text-center" style="width: 10px;">3</td>
    <td class="text-center">Sanjana</td>
    <td class="text-center">sanjana2610@icloud.com</td>
  </tr>
  <tr>
    <td class="text-center" style="width: 10px;">4</td>
    <td class="text-center">Indu</td>
    <td class="text-center">indu@icloud.com</td>
  </tr>
  <tr>
    <td class="text-center" style="width: 10px;">5</td>
    <td class="text-center">Malavika</td>
    <td class="text-center">malavika@icloud.com</td>
  </tr>
  </tbody>
</table>
</div>
