<div style="color: #3D5A80">
  <div class="row">
    <ul class="nav nav-tabs col-md-9">
      <li class="nav-item">
        <h5><a style="color: #3D5A80" class="nav-link active">Colleges</a></h5>
      </li>
    </ul>
    <div>
    </div>
  </div>
  <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-light table-hover medium no-footer"
         datatable>
    <thead style="color: #3D5A80">
    <tr style="color: #3D5A80">
      <th class="text-center" style="width: 10px;">SNo</th>
      <th class="text-center">Name</th>
      <th class="text-center">Contact</th>
      <th class="text-center">Location</th>
    </tr>
    </thead>
    <tbody style="color: #3D5A80">
    <tr>
      <td class="text-center" style="width: 10px;">1</td>
      <td class="text-center">Amrita Vishwa Vidyapeetham</td>
      <td class="text-center">56787677</td>
      <td class="text-center">Coimbatore</td>
    </tr>
    <tr>
      <td class="text-center" style="width: 10px;">2</td>
      <td class="text-center">Vellore Institute of Technology</td>
      <td class="text-center">9876543210</td>
      <td class="text-center">Vellore</td>
    </tr>
    <tr>
      <td class="text-center" style="width: 10px;">3</td>
      <td class="text-center">CBIT</td>
      <td class="text-center">9876543212</td>
      <td class="text-center">Hyderabad</td>
    </tr>
    <tr>
      <td class="text-center" style="width: 10px;">4</td>
      <td class="text-center">IIT Chennai</td>
      <td class="text-center">9876543223</td>
      <td class="text-center">Chennai</td>
    </tr>
    <tr>
      <td class="text-center" style="width: 10px;">5</td>
      <td class="text-center">SRM Institute of Technology</td>
      <td class="text-center">8765432193</td>
      <td class="text-center">Chennai</td>
    </tr>
    </tbody>
  </table>
</div>
