<div style="color: #3D5A80">
<div class="row">
  <ul class="nav nav-tabs col-md-9">
    <li class="nav-item">
      <h5><a style="color: #3D5A80" class="nav-link active">Schedule Company</a></h5>
    </li>
  </ul>
  <div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-9">
    <fieldset>
      <div class="form-group">
        <label>Company Name</label>
        <select class="form-control" name="company" required style="color: #3D5A80">
          <option >Cerner</option>
          <option>Myntra</option>
          <option>NLC</option>
        </select>
      </div>
      <div class="form-group">
        <label>Time</label>
        <input class="form-control" type="time">
      </div>
      <div>
        <button class="btn btn-block" style="background-color:#EE6C4D; color:#E0FBFC;width: 150px;">Schedule
        </button>
      </div>
    </fieldset>
  </div>
</div>
</div>
