.background-light {
  background-color: #E0FBFC;
}
.background-orange {
  background-color: #EE6C4D;
}
.background-lightblue {
  background-color: #98C1D9;
}
.background-darkblue {
  background-color: #3D5A80;
}
.background-dark {
  background-color: #293241;
}
.light {
  color: #E0FBFC;
}
.orange {
  color: #EE6C4D;
}
.lightblue{
  color: #98C1D9;
}
.darkblue {
  color: #3D5A80;
}
.dark{
  color: #293241;
}

