<nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg" style="background-color: #3D5A80">
  <nav class="navbar">
    <a (click)="goHome()" class="navbar-brand text-white" style="cursor: pointer; color: #E0FBFC">
      Place.io
    </a>
  </nav>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="nav-link">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <button (click)="logout()" class="btn btn-outline-info">Logout</button>
  </div>
</nav>
<br>

