<div style="color: #3D5A80">
  <div class="row">
    <div class="col-sm-4" style="padding-left: 10%; padding-bottom: 2%;">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" style="padding-top: 45%; padding-left: 10%;">
    </div>
    <div class="col-sm-6" >
      <div class="w3-content w3-display-container">
        <div class="mySlides" *ngIf="slide === 1">
          <div>
            <h3 class="w3-center">Personal Details</h3>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group animation a3">
                <label for="name" style="size: 30px;">Full Name</label>
                <input type="text" id="name" class="form-control input-lg" placeholder="Name"
                       required>
              </div>

              <div>
                <div class="form-group animation a3">
                  <label for="age" style="size: 30px;">Date of Birth</label>
                  <input type="date" id="age" class="form-control input-lg"
                         placeholder="Date of Birth" required>
                </div>

              </div>

              <div class="form-group animation a3">
                <label for="country" style="size: 30px;">Country</label>
                <input type="text" id="country" class="form-control input-lg"
                       placeholder="Country" required>
                <div class="error" id="countryErr1"></div>
              </div>

              <div class="form-group animation a3">
                <label for="phonenumber" style="size: 30px;">Phone Number</label>
                <input type="number" id="phonenumber" class="form-control input-lg"
                       placeholder="Phone Number" required>
                <div class="error" id="countryErr2"></div>
              </div>


            </div>


            <div class="col-sm-6">

              <div class="form-group animation a3">
                <label for="emailad" style="size: 30px;">Email Address</label>
                <input type="email" id="emailad" class="form-control input-lg"
                       placeholder="Email Address" required>
                <div class="error" id="countryErr"></div>
              </div>


              <div class="form-group animation a3">
                <label for="address" style="size: 30px;">House number & Street name</label>
                <input type="text" id="address" class="form-control input-lg"
                       placeholder="House number & Street name">
                <div class="error" id="addressErr"></div>
              </div>

              <div class="form-group animation a3">
                <label for="city" style="size: 30px;">City</label>
                <input type="text" id="city" class="form-control input-lg" placeholder="City">
                <div class="error" id="cityErr"></div>
              </div>

              <div class="form-group animation a3">
                <label for="state" style="size: 30px;">State</label>
                <input type="text" id="state" class="form-control input-lg" placeholder="State">
                <div class="error" id="stateErr"></div>
              </div>


            </div>

            <div class="form-group animation a3" style="padding-left: 2%;">
              <label for="name" style="size: 30px; ">Gender</label><br>
              <div class="form-check-inline">
                <label class="form-check-label" for="radio1">
                  <input type="radio" class="form-check-input" id="radio1" name="optradio"
                         value="Male">Male
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label" for="radio2">
                  <input type="radio" class="form-check-input" id="radio2" name="optradio"
                         value="Female">Female
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="radio3" name="optradio"
                         value="No">Do not want
                  to mention
                </label>
              </div>
              <div class="error" id="genderErr"></div>

            </div>
          </div>
        </div>
        <div class="col-md-3" style="margin-left: 43%; margin-top: 30px">
        </div>
        <div class="mySlides" *ngIf="slide === 2">
          <div>
            <h3 class="w3-center">Schooling</h3>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group animation a3">
                <label for="xpercentage" style="size: 30px;">10th percentage</label>
                <input type="number" id="xpercentage" class="form-control input-lg"
                       placeholder="10th percentage" required>
                <div class="error" id="xperErr"></div>
              </div>

              <div class="form-group animation a3">
                <label for="xschool" style="size: 30px;">10th School</label>
                <input type="text" id="xschool" class="form-control input-lg"
                       placeholder="10th School" required>
                <div class="error" id="xschoolErr"></div>
              </div>

              <div class="form-group animation a3">
                <label for="10year" style="size: 30px;">10th- Year of completion</label>
                <input type="date" id="10year" class="form-control input-lg"
                       placeholder="10th- Year of completion" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group animation a3">
                <label for="xiipercentage" style="size: 10px;">12th percentage</label>
                <input type="number" id="xiipercentage" class="form-control input-lg"
                       placeholder="12th percentage" required>
                <div class="error" id="xiiperErr"></div>
              </div>
              <div class="form-group animation a3">
                <label for="xiischool" style="size: 20px;">12th School</label>
                <input type="text" id="xiischool" class="form-control input-lg"
                       placeholder="12th School" required>
                <div class="error" id="xiischoolErr"></div>
              </div>
              <div class="form-group animation a3">
                <label for="12year" style="size: 30px;">12th- Year of completion</label>
                <input type="date" id="12year" class="form-control input-lg"
                       placeholder="12th- Year of completion" required>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="mySlides" *ngIf="slide === 3">
          <div>
            <h3 class="w3-center">Degree</h3>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group animation a3">
                <label for="ugcollege" style="size: 30px;">Undergrad- College/University</label>
                <input type="text" id="ugcollege1" class="form-control input-lg"
                       placeholder="Undergrad- College/University" required>
                <div class="error" id="ugcollegeErr"></div>
              </div>

              <div class="form-group animation a3">
                <label for="ugpercentage" style="size: 30px;">Undergrad-percentge</label>
                <input type="number" id="ugpercentage" class="form-control input-lg"
                       placeholder="Undergrad-percentge" required>
                <div class="error" id="ugpercentErr"></div>
              </div>

              <div class="form-group animation a3">
                <label for="ugcity" style="size: 30px;">City</label>
                <input type="text" id="ugcity" class="form-control input-lg"
                       placeholder="Undergrad-city" required>
                <div class="error" id="ugcityErr"></div>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group animation a3">
                <label for="ugcollege" style="size: 30px;">Postgrad- College/University</label>
                <input type="text" id="ugcollege" class="form-control input-lg"
                       placeholder="Postgrad- College/University">

              </div>

              <div class="form-group animation a3">
                <label for="pgpercentage" style="size: 30px;">Postgrad-percentge</label>
                <input type="number" id="pgpercentage" class="form-control input-lg"
                       placeholder="Postgrad-percentge">

              </div>

              <div class="form-group animation a3">
                <label for="pgcity" style="size: 30px;">City</label>
                <input type="text" id="pgcity" class="form-control input-lg"
                       placeholder="Postgrad-city">

              </div>

            </div>
          </div>

          <div class="form-group animation a3" style="padding-left: 0%;">
            <label style="size: 30px;">Highest degree</label><br>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radios1" name="optradio"
                       value="pursuingug">Pursuing
                UG
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radios2" name="optradio"
                       value="finishedug">Finished
                UG
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="radioss2" name="optradio"
                       value="pursuingpg">Pursuing
                PG </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="radiosss2" name="optradio"
                       value="finishedpg">Finished
                PG </label>
            </div>
            <div class="error" id="highestdegreeErr"></div>
          </div>

          <br>
          <br>
        </div>
        <div class="mySlides" *ngIf="slide === 4">
          <div>
            <h3 class="w3-center">Academic Achievements</h3>
          </div>
          <form class="md-form">
            <div class="file-field">
              <br>
              <label style="size: 30px;">Achievements</label>
              <div class="file-path-wrapper">
                <input class="form-control input-lg" type="text" placeholder="Achievements">
              </div>

              <br>
              <div class="btn btn-primary btn-sm float-left" style="background-color:#98C1D9 ;">
                <span>Choose file</span>
                <input type="file">
              </div>


            </div>
          </form>
          <br>
          <br>

          <div class="form-group ">
            <label for="age" style="size: 30px;">Projects or Paper presentations </label>

            <input type="text" id="Projects" class="form-control input-lg" placeholder="Title">
          </div>

          <div class="file-field">
            <label style="size: 30px;">Resume</label>
            <br>
            <div class="btn btn-primary btn-sm float-left" style="background-color:#98C1D9 ;">
              <span>Choose file</span>
              <input type="file">
            </div>
            <div class="error" id="resumeErr"></div>
          </div>
          <br>
          <br>
        </div>
        <div class="mySlides" *ngIf="slide === 5">
          <div>
            <h3 class="w3-center">Other Details</h3>
          </div>
          <div class="form-group animation a3">
            <br>
            <label for="hobbies" style="size: 30px;">Interests and Hobbies</label>
            <input type="text" id="hobbies" class="form-control input-lg" placeholder="Hobbies">
          </div>
          <form class="md-form">
            <div class="file-field">
              <label style="size: 30px;">Other Achievements</label>
              <div class="file-path-wrapper">
                <input class="form-control input-lg" type="text"
                       placeholder="Other Achievements">
              </div>
              <br>
              <div class="btn btn-primary btn-sm float-left" style="background-color:#98C1D9 ;">
                <span>Choose file</span>
                <input type="file">
              </div>
            </div>
          </form>
          <br>
          <br>
          <div class="form-group animation a3">
            <label for="languages" style="size: 30px;">Languages known</label>
            <input type="text" id="languages" class="form-control input-lg"
                   placeholder="Langusges known">
            <div class="error" id="langknownErr"></div>
          </div>
        </div>
        <div class="mySlides" *ngIf="slide === 6">

          <div>
            <h3 class="w3-center">Rate Yourself</h3>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group animation a3">
                <h6>Communication</h6>
              </div>
              <form class="rating">
                <label>
                  <input type="radio" name="stars" value="1"/>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="2"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="3"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="4"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="5"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
              </form>

              <div class="form-group animation a3">
                <h6>Flexiblity</h6>

              </div>


              <form class="rating">
                <label>
                  <input type="radio" name="stars" value="1"/>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="2"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="3"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="4"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="5"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
              </form>
            </div>
            <div class="col-sm-6">
              <div class="form-group animation a3">
                <h6>Team leader</h6>
              </div>
              <form class="rating">
                <label>
                  <input type="radio" name="stars" value="1"/>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="2"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="3"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="4"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="5"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
              </form>
              <div class="form-group animation a3">
                <h6>Team Player</h6>

              </div>


              <form class="rating">
                <label>
                  <input type="radio" name="stars" value="1"/>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="2"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="3"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="4"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="5"/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
              </form>


            </div>
          </div>


          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">I promise that all the
              information entered is
              true</label>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="padding-top: 1%; padding-right: 10%;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-md-3" style="margin-top: 30px">
      <button class="btn btn-block"
              style="border-radius: 12px;background-color: #EE6C4D; color: #E0FBFC" (click)="next()">{{slide !=6? 'Next' : 'Update'}}
      </button>
    </div>
    <div class="col-md-3" style=" margin-top: 30px" *ngIf="slide !== 1">
      <button class="btn btn-block"
              style="border-radius: 12px;background-color: #EE6C4D; color: #E0FBFC" (click)="previous()">Previous
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style="padding-bottom:4%">
    </div>
  </div>
</div>
